@media (max-width: 1500px) {
  .home_hero .container {
    max-width: 1300px; }
  .home_hero .box .left_cont {
    padding-left: 90px; }
  .home_hero .box .left_cont:before {
    width: 60px;
    top: 26px; }
  .home_hero .box .left_cont {
    margin-top: 180px; }
  .home_hero .box .left_cont {
    max-width: 620px; }
  .home_hero .box .left_cont h1 {
    font-size: 26px;
    line-height: 41px; }
  .home_hero .box .left_cont .btns, .home_hero .box .left_cont p {
    margin-top: 31px; }
  .home_hero .box .home_img1 {
    max-width: 510px;
    width: 100%;
    right: 20px; }
  .home_hero {
    min-height: 670px; }
  .kontakt_s1 {
    min-height: auto;
    padding-bottom: 170px; }
  .kontakt_s1 .placeforimg .cijenapaketa_img1 {
    max-width: 420px;
    position: absolute;
    bottom: -30px;
    right: 15px; }
  .cijenapaket_s1 {
    min-height: 510px;
    padding-bottom: 160px; }
  .ofiskalizaciji .boxes .ofiskalizaciji_img {
    top: -310px;
    right: 0;
    max-width: 350px; } }

@media (max-width: 1300px) {
  .navbar .navbar-nav li {
    margin-left: 15px;
    margin-right: 15px; }
  .navbar .navbar-nav .prijava {
    right: 177px; }
  .cijenapaket_s2 .tab-content > .tab-pane {
    padding: 30px 40px; }
  .cijenapaket_s2 .tab-content > .tab-pane .boxes .box h3 span {
    font-size: 36px; }
  .cijenapaket_s2 .tab-content > .tab-pane .boxes .box h3 span .sm {
    font-size: 26px; } }

@media (max-width: 1200px) {
  .kontakt_s2 .rightside ul li {
    font-size: 16px; }
  .kontakt_s2 .rightside ul li span {
    width: 75px; }
  .kontakt_s2 .rightside {
    padding-left: 10px;
    padding-top: 30px; }
  .ofiskalizaciji .boxes {
    padding-top: 40px;
    padding-bottom: 40px; }
  .ofiskalizaciji .boxes h1 {
    padding-left: 40px;
    padding-right: 40px; }
  .ofiskalizaciji .boxes .box {
    padding-left: 90px;
    padding-right: 90px; }
  .home_s3 .w_box .box {
    max-width: 300px; }
  .home_s3 .w_box .box .area .bodyarea {
    padding: 20px; } }

@media (max-width: 1130px) {
  .navbar .navbar-nav li {
    margin-left: 10px;
    margin-right: 10px; }
  .home_hero .box .left_cont {
    padding-left: 0; }
  .home_hero .box .left_cont:before {
    display: none; }
  .home_hero .box .home_img1 {
    max-width: 400px; }
  .cijenapaket_s1 .placeforimg .cijenapaketa_img1 {
    max-width: 390px; } }

@media (max-width: 991px) {
  .kontakt_s2 .form {
    margin-top: -70px; }
  .kontakt_s1 .placeforimg {
    display: none; }
  .kontakt_s2 .wrapper {
    max-width: 370px; }
  .kontakt_s2 .form {
    padding: 30px 20px; }
  .kontakt_s2 .form .plfordiv {
    margin-bottom: 30px; }
  .kontakt_s2 .form button {
    margin-top: 30px; }
  .kontakt_s2 .form .plfordiv p {
    font-size: 14px; }
  .kontakt_s2 .form input, .kontakt_s2 .form textarea {
    font-size: 14px; }
  .cijenapaket_s2 .tab-content > .tab-pane .boxes .box {
    margin: auto;
    margin-top: 15px; }
  .cijenapaket_s2 .tab-content > .tab-pane .boxes {
    display: block; }
  .home_hero {
    min-height: unset;
    padding-bottom: 120px; }
  .cijenapaket_s2 .tab-content > .tab-pane {
    padding: 15px; }
  .cijenapaket_s2 .tab-content > .tab-pane h2 {
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 15px; }
  .cijenapaket_s2 .tab-content > .tab-pane p {
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 20px; }
  .cijenapaket_s2 .wrapper {
    max-width: 370px;
    margin: auto; }
  .cijenapaket_s2 .nav-tabs .nav-link {
    width: 135px;
    margin: auto;
    font-size: 13px;
    letter-spacing: 0.2px;
    line-height: 60px; }
  .cijenapaket_s2 .nav-tabs {
    margin-top: -60px;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto; }
  .cijenapaket_s2 .nav-tabs .nav-item.show .nav-link, .cijenapaket_s2 .nav-tabs .nav-link.active {
    line-height: 68px;
    margin-top: -8px; }
  .nav-tabs .nav-item {
    margin: auto; }
  .cijenapaket_s1 .placeforimg .cijenapaketa_img1 {
    display: none; }
  .topline .container, .navbar .container {
    max-width: 700px; }
  .container {
    max-width: 400px; }
  .home_hero .container {
    max-width: 400px; }
  .navbar-toggler .lines .line {
    width: 40px;
    height: 2px;
    background: #01112A;
    margin-top: 10px;
    margin-bottom: 10px; }
  .navbar-toggler .lines .line:nth-child(2) {
    width: 35px; }
  .navbar-toggler .lines .line:nth-child(3) {
    width: 30px; }
  .navbar {
    min-height: auto;
    background: #F5F9FC; }
    .navbar .navbar-brand {
      display: none; }
    .navbar .logo_black {
      display: block; }
  .navbar .navbar-nav li {
    display: block;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 10px; }
  .navbar .navbar-nav li a {
    color: #01112A; }
  .navbar .navbar-nav {
    display: contents; }
  .navbar .navbar-nav .active:after {
    bottom: 0;
    max-width: 150px;
    margin: auto;
    background: #FF2626; }
  .navbartop_c_fixed .navbar-nav .active:after {
    background: #FF2626; }
  .navbar .navbar-nav .registracija, .navbar .navbar-nav .prijava {
    right: unset;
    position: relative;
    margin-top: unset; }
  .navbar .navbar-nav .active a {
    color: #FF2626; }
  .navbar .navbar-nav .active:after {
    background: #FF2626; }
  .navbar .navbar-nav .registracija a {
    background: #FF2626;
    color: #F5F9FC; }
  .navbar .navbar-nav .registracija a:hover {
    background: #F5F9FC;
    color: #FF2626; }
  .home_hero .box .home_img1 {
    position: relative; }
  .home_hero .box .left_cont {
    margin-top: 120px; }
  .home_hero .box .left_cont h1 {
    font-size: 22px;
    line-height: 37px;
    text-align: center; }
  .home_hero .box .left_cont .btns, .home_hero .box .left_cont p {
    margin-top: 20px;
    text-align: center; }
  .home_hero .btns a {
    margin: auto;
    margin-top: 20px; }
  .home_hero .box .home_img1 {
    position: relative;
    top: unset;
    right: unset;
    left: unset;
    max-width: 320px;
    margin: auto;
    display: block;
    margin-bottom: -70px; }
  .home_hero .placeformouse {
    display: none; }
  .cijenapaket_s3 h1, .home_s4 h1, .home_s2 h1 {
    font-size: 22px;
    line-height: 37px; }
  .cijenapaket_s3 {
    padding-top: 100px;
    padding-bottom: 50px;
    min-height: auto; }
  .home_s3 .w_box .box {
    max-width: 320px;
    margin-bottom: 30px;
    padding: 0; }
  .home_s3 .w_box {
    margin-top: -180px; }
  .home_s3 {
    padding-bottom: 30px; }
  .home_s4 {
    padding-top: 50px; }
  .home_s4 h1 {
    margin-bottom: 0; }
  .home_s4 .steps .box h4 {
    font-size: 28px;
    line-height: 43px;
    padding-top: 8px;
    width: 51px;
    left: -60px; }
  .home_s4 .steps:before {
    left: 24px; }
  .home_s4 .steps {
    padding-left: 60px; }
  .home_s4 .steps .box {
    padding: 10px;
    min-height: 110px; }
  .home_s4 .steps .box p {
    font-size: 14px;
    line-height: 21px; }
  .home_s4 .steps .box:last-child:before {
    content: '';
    width: 50px;
    height: calc(100% - 51px);
    background: #fff;
    position: absolute;
    left: -60px;
    top: 51px;
    z-index: 2; }
  .home_s4 {
    padding-bottom: 120px; }
  .home_s4:after {
    min-height: 260px; }
  .footer ul li a {
    font-size: 14px; }
  .footer ul li {
    margin-right: 15px; }
  .footer ul li:last-child:before {
    right: 132px; }
  .footer ul li:nth-last-child(2) a {
    right: 155px; }
  .footer {
    padding-top: 40px;
    overflow: hidden;
    min-height: auto; }
  .footer .lastrow {
    margin-top: 40px; }
  .cijenapaket_s1 {
    padding-bottom: 340px; }
  .ofiskalizaciji .boxes .ofiskalizaciji_img {
    top: -250px;
    right: 0;
    max-width: 270px;
    margin: auto;
    left: 0; }
  .ofiskalizaciji .boxes {
    padding-top: 100px; }
  .ofiskalizaciji .boxes h1 {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-size: 22px;
    line-height: 37px;
    margin-bottom: 30px; }
  .ofiskalizaciji .boxes {
    max-width: 370px;
    margin-left: auto;
    margin-right: auto; }
  .ofiskalizaciji .boxes .box {
    padding: 15px; }
  .ofiskalizaciji .boxes .box h2 span {
    position: relative;
    display: block;
    text-align: center;
    left: unset;
    right: unset; }
  .ofiskalizaciji .boxes .box h2 {
    text-align: center;
    padding-bottom: 10px; }
  .ofiskalizaciji .boxes .steps h1 {
    font-size: 17px;
    line-height: 28px; }
  .ofiskalizaciji .boxes .box p {
    text-align: center; }
  .ofiskalizaciji .boxes .steps .box_s {
    padding-left: 15px;
    padding-right: 15px; }
  .ofiskalizaciji .boxes .steps .box_s p {
    padding: 40px 20px 20px;
    text-align: center; }
  .ofiskalizaciji .boxes .steps .box_s:last-child {
    margin: 0; }
  .ofiskalizaciji .boxes .box .wwimg {
    padding: 0; }
    .ofiskalizaciji .boxes .box .wwimg img {
      position: relative;
      max-width: 100%;
      margin-top: 10px; }
  .ofiskalizaciji .boxes .steps {
    padding-top: 50px; } }

@media (max-width: 730px) {
  .ofiskalizaciji .boxes .box p, .ofiskalizaciji .boxes .steps .box_s p {
    font-size: 14px;
    line-height: 24px; }
  .logofooter img {
    display: block;
    margin: auto; }
  .footer ul {
    margin-top: 20px; }
  .footer ul li {
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    display: block; }
    .footer ul li a {
      display: inline-block; }
  .footer ul li:last-child a, .footer ul li:nth-last-child(2) a {
    position: relative;
    right: unset;
    top: unset; }
  .footer ul li:last-child:before {
    display: none; }
  .footer .lastrow {
    margin-top: 10px; }
  .footer .lastrow p {
    line-height: 40px;
    padding-top: 8px;
    font-size: 12px; }
  .home_s4 {
    padding-bottom: 50px; }
  .home_s4 .steps .box {
    margin-bottom: 20px; } }

@media (max-width: 395px) {
  .home_s3 .w_box {
    margin-top: -80px; } }
