// fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: ToucheSemibold;
  src: url("../fonts/Touche/Touche.otf");
}
@font-face {
  font-family: ToucheBold;
  src: url("../fonts/Touche/ToucheSemibold.woff");
}
@font-face {
  font-family: ToucheLight;
  src: url("../fonts/Touche/touche-webfont.woff");
}
// fonts end


// def css
a{
	text-decoration: none;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
a:hover{
	opacity: 0.8;
}
button:focus,input:focus,textarea:focus{
	outline: none;
}
p,h1,h2,h3,h4,h5{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Poppins', sans-serif;
}
.container-fluid{
	padding-left: 0;
	padding-right: 0;
}
// def css end

// components
.btns{
	a{
		display: inline-block;

		font-weight: 700;
		font-size: 16px;
		line-height: 21px;
		letter-spacing: 1px;
		color: #fff;
		line-height: 54px;
		padding-left: 15px;
		padding-right: 15px;
		min-width: 227px;
		margin-right: 18px;
		border: 1.5px solid #FF2626;
		text-align: center;
		border-radius: 3px;
	}
	a:hover{
		background: #FF2626;
		text-decoration: none;
		// -webkit-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.32); 
		// box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.32);
	}
}
// components end


// navbar
.topline{
	width: 100%;
	min-height: 40px;
	background: #021431;
	padding: 4px 0;
	.container{
		max-width: 1700px;
	}
	p{
		font-weight: 400;
		font-size: 14px;
		line-height: 32px;
		letter-spacing: 0.32px;
		color: #B8C0CC;
		img{
			margin-right: 8px;
			margin-top: -2px;
		}
		.hline{
			margin-left: 15px;
			margin-right: 15px;
		}
	}
}
.navbar{
	position: absolute;
	left: 0;
	top: 40px;
	right: 0;
	z-index: 999999;

	background: transparent;
	min-height: 100px;
	border-bottom: 1px solid #B8C0CC;
	padding-left: 0px;
	padding-right: 0px;
	.container{
		position: relative;
		max-width: 1700px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.navbar-brand{
		display: block;
	}
	.logo_black{
		display: none;
	}
	.navbar-nav{
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;
		display: block;
		li{
			display: inline-block;
			
			margin-left: 25px;
			margin-right: 25px;
			position: relative;
			a{
				font-weight: 600;
				font-size: 14px;
				line-height: 21px;
				letter-spacing: 0.80px;
				color: #fff;
				text-transform: uppercase;
				padding-left: 0px !important;
				padding-right: 0px !important;
			}
		}
		.active:after{
			content: '';
			position: absolute;
			width: 100%;
			height: 2px;
			background: #fff;
			left: 0;
			right: 0;
			bottom: -32px;
		}

		.prijava{
			position: absolute;
			right: 187px;
		}
		.registracija{
			position: absolute;
			right: 15px;
			margin-top: -4px;
			margin-right: 0;
			a{
				border: 1.5px solid #FF2626;
				border-radius: 3px;
				padding: 10px 20px;
				padding-left: 20px !important;
				padding-right: 20px !important;
			}
			a:hover{
				opacity: 1;
				background: #FF2626;
			}
		}
	}
}
.navbartop_c_fixed{
	position: fixed;
	top: 0;
	min-height: 80px;
	background: #F5F9FC;
	.navbar-brand{
		display: none;
	}
	.logo_black{
		display: block;
	}
	.navbar-nav .nav-link{
		color: #01112A;
	}
	.navbar-nav .active a{
		color: #FF2626;
	}
	.navbar-nav .active:after{
		background: #FF2626;
		bottom: -22px;
	}
	.navbar-nav .registracija a{
		background: #FF2626;
		color: #F5F9FC;
	}
	.navbar-nav .registracija a:hover{
		background: #F5F9FC;
		color: #FF2626;
	}
	animation-name: tofixed;
	  animation-duration: 0.5s;
}
@keyframes tofixed {
  from {top: -100px;}
  to {top: 0;}
}
// navbar end


// other css
.home_hero{
	min-height: 860px;
	background: url("../img/hero_bg.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	.container{
		max-width: 1700px;
	}
	.box{
		max-width: 1550px;
		margin: auto;
		width: 100%;
		position: relative;
		.home_img1{
			max-width: 610px;
			position: absolute;
			top: -100px;
			right: 0;
		}
		.left_cont{
			padding-left: 190px;
			max-width: 860px;
			margin-top: 250px;
			position: relative;
			h1{
				font-family: ToucheSemibold;
				font-weight: 600;
				font-size: 31px;
				line-height: 51px;
				letter-spacing: 0.45px;
				color: #fff;
			}
			p{
				font-weight: 400;
				font-size: 16px;
				line-height: 32px;
				letter-spacing: 0.32px;
				color: #B8C0CC;
				margin-top: 41px;
			}
			.btns{
				margin-top: 51px;
			}
		}
		.left_cont:before{
			content: '';
			width: 150px;
			height: 1px;
			background: #B8C0CC;
			position: absolute;
			left: 0;
			top: 33px;
		}
	}
	position: relative;
	.placeformouse{
		transform: scale(0.87);
		position: absolute;
		left: 0;
		right: 0;
		bottom: 40px;
		.mouse {
			margin: auto;
			display: block;
			background: transparent linear-gradient(transparent 0%, transparent 50%, #ffffff 50%, #ffffff 100%);
			position: relative;
			width: 52px;
			height: 88px;
			border-radius: 100px;
			background-size: 100% 200%;
			-webkit-animation: colorSlide 6s linear infinite, nudgeMouse 6s ease-out infinite;
			      animation: colorSlide 6s linear infinite, nudgeMouse 6s ease-out infinite;
		}
		.mouse:before, .mouse:after {
		  content: "";
		  position: absolute;
		  top: 0;
		  right: 0;
		  bottom: 0;
		  left: 0;
		  margin: auto;
		}
		.mouse:before {
		  width: 46px;
		  height: 82px;
		  background-color:#113D97;
		  border-radius: 100px;
		}
		.mouse:after {
		  background-color: #ffffff;
		  width: 10px;
		  height: 10px;
		  border-radius: 100%;
		  -webkit-animation: trackBallSlide 6s linear infinite;
		          animation: trackBallSlide 6s linear infinite;
		}

		@-webkit-keyframes colorSlide {
		  0% {
		    background-position: 0% 100%;
		  }
		  20% {
		    background-position: 0% 0%;
		  }
		  21% {
		    background-color: #113D97;
		  }
		  29.99% {
		    background-color: #ffffff;
		    background-position: 0% 0%;
		  }
		  30% {
		    background-color: #113D97;
		    background-position: 0% 100%;
		  }
		  50% {
		    background-position: 0% 0%;
		  }
		  51% {
		    background-color: #113D97;
		  }
		  59% {
		    background-color: #ffffff;
		    background-position: 0% 0%;
		  }
		  60% {
		    background-color: #113D97;
		    background-position: 0% 100%;
		  }
		  80% {
		    background-position: 0% 0%;
		  }
		  81% {
		    background-color: #113D97;
		  }
		  90%, 100% {
		    background-color: #ffffff;
		  }
		}

		@keyframes colorSlide {
		  0% {
		    background-position: 0% 100%;
		  }
		  20% {
		    background-position: 0% 0%;
		  }
		  21% {
		    background-color: #113D97;
		  }
		  29.99% {
		    background-color: #ffffff;
		    background-position: 0% 0%;
		  }
		  30% {
		    background-color: #113D97;
		    background-position: 0% 100%;
		  }
		  50% {
		    background-position: 0% 0%;
		  }
		  51% {
		    background-color: #113D97;
		  }
		  59% {
		    background-color: #ffffff;
		    background-position: 0% 0%;
		  }
		  60% {
		    background-color: #113D97;
		    background-position: 0% 100%;
		  }
		  80% {
		    background-position: 0% 0%;
		  }
		  81% {
		    background-color: #113D97;
		  }
		  90%, 100% {
		    background-color: #ffffff;
		  }
		}
		@-webkit-keyframes trackBallSlide {
		  0% {
		    opacity: 1;
		    transform: scale(1) translateY(-20px);
		  }
		  6% {
		    opacity: 1;
		    transform: scale(0.9) translateY(5px);
		  }
		  14% {
		    opacity: 0;
		    transform: scale(0.4) translateY(40px);
		  }
		  15%, 19% {
		    opacity: 0;
		    transform: scale(0.4) translateY(-20px);
		  }
		  28%, 29.99% {
		    opacity: 1;
		    transform: scale(1) translateY(-20px);
		  }
		  30% {
		    opacity: 1;
		    transform: scale(1) translateY(-20px);
		  }
		  36% {
		    opacity: 1;
		    transform: scale(0.9) translateY(5px);
		  }
		  44% {
		    opacity: 0;
		    transform: scale(0.4) translateY(40px);
		  }
		  45%, 49% {
		    opacity: 0;
		    transform: scale(0.4) translateY(-20px);
		  }
		  58%, 59.99% {
		    opacity: 1;
		    transform: scale(1) translateY(-20px);
		  }
		  60% {
		    opacity: 1;
		    transform: scale(1) translateY(-20px);
		  }
		  66% {
		    opacity: 1;
		    transform: scale(0.9) translateY(5px);
		  }
		  74% {
		    opacity: 0;
		    transform: scale(0.4) translateY(40px);
		  }
		  75%, 79% {
		    opacity: 0;
		    transform: scale(0.4) translateY(-20px);
		  }
		  88%, 100% {
		    opacity: 1;
		    transform: scale(1) translateY(-20px);
		  }
		}
		@keyframes trackBallSlide {
		  0% {
		    opacity: 1;
		    transform: scale(1) translateY(-20px);
		  }
		  6% {
		    opacity: 1;
		    transform: scale(0.9) translateY(5px);
		  }
		  14% {
		    opacity: 0;
		    transform: scale(0.4) translateY(40px);
		  }
		  15%, 19% {
		    opacity: 0;
		    transform: scale(0.4) translateY(-20px);
		  }
		  28%, 29.99% {
		    opacity: 1;
		    transform: scale(1) translateY(-20px);
		  }
		  30% {
		    opacity: 1;
		    transform: scale(1) translateY(-20px);
		  }
		  36% {
		    opacity: 1;
		    transform: scale(0.9) translateY(5px);
		  }
		  44% {
		    opacity: 0;
		    transform: scale(0.4) translateY(40px);
		  }
		  45%, 49% {
		    opacity: 0;
		    transform: scale(0.4) translateY(-20px);
		  }
		  58%, 59.99% {
		    opacity: 1;
		    transform: scale(1) translateY(-20px);
		  }
		  60% {
		    opacity: 1;
		    transform: scale(1) translateY(-20px);
		  }
		  66% {
		    opacity: 1;
		    transform: scale(0.9) translateY(5px);
		  }
		  74% {
		    opacity: 0;
		    transform: scale(0.4) translateY(40px);
		  }
		  75%, 79% {
		    opacity: 0;
		    transform: scale(0.4) translateY(-20px);
		  }
		  88%, 100% {
		    opacity: 1;
		    transform: scale(1) translateY(-20px);
		  }
		}
		@-webkit-keyframes nudgeMouse {
		  0% {
		    transform: translateY(0);
		  }
		  20% {
		    transform: translateY(8px);
		  }
		  30% {
		    transform: translateY(0);
		  }
		  50% {
		    transform: translateY(8px);
		  }
		  60% {
		    transform: translateY(0);
		  }
		  80% {
		    transform: translateY(8px);
		  }
		  90% {
		    transform: translateY(0);
		  }
		}
		@keyframes nudgeMouse {
		  0% {
		    transform: translateY(0);
		  }
		  20% {
		    transform: translateY(8px);
		  }
		  30% {
		    transform: translateY(0);
		  }
		  50% {
		    transform: translateY(8px);
		  }
		  60% {
		    transform: translateY(0);
		  }
		  80% {
		    transform: translateY(8px);
		  }
		  90% {
		    transform: translateY(0);
		  }
		}
		@-webkit-keyframes nudgeText {
		  0% {
		    transform: translateY(0);
		  }
		  20% {
		    transform: translateY(2px);
		  }
		  30% {
		    transform: translateY(0);
		  }
		  50% {
		    transform: translateY(2px);
		  }
		  60% {
		    transform: translateY(0);
		  }
		  80% {
		    transform: translateY(2px);
		  }
		  90% {
		    transform: translateY(0);
		  }
		}
		@keyframes nudgeText {
		  0% {
		    transform: translateY(0);
		  }
		  20% {
		    transform: translateY(2px);
		  }
		  30% {
		    transform: translateY(0);
		  }
		  50% {
		    transform: translateY(2px);
		  }
		  60% {
		    transform: translateY(0);
		  }
		  80% {
		    transform: translateY(2px);
		  }
		  90% {
		    transform: translateY(0);
		  }
		}
		@-webkit-keyframes colorText {
		  21% {
		    color: #113D97;
		  }
		  30% {
		    color: #ffffff;
		  }
		  51% {
		    color: #113D97;
		  }
		  60% {
		    color: #ffffff;
		  }
		  81% {
		    color: #113D97;
		  }
		  90% {
		    color: #ffffff;
		  }
		}
		@keyframes colorText {
		  21% {
		    color: #113D97;
		  }
		  30% {
		    color: #ffffff;
		  }
		  51% {
		    color: #113D97;
		  }
		  60% {
		    color: #ffffff;
		  }
		  81% {
		    color: #113D97;
		  }
		  90% {
		    color: #ffffff;
		  }
		}
	}
}


.home_s2{
	min-height: 605px;
	background: transparent linear-gradient(90deg, #798892 0%, #E0E3E5 50%, #798892 100%) 0% 0% no-repeat padding-box;

	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;

	h2{
		position: relative;
		display: inline-block;

		font-weight: 700;
		font-size: 16px;
		line-height: 25px;
		letter-spacing: 1.96px;
		color: #6D6F74;

		padding-left: 70px;
		padding-right: 70px;
	}
	h2:before{
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		position: absolute;
		content: '';
		width: 50px;
		height: 1px;
		background: #6D6F74;
	}
	h2:after{
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		position: absolute;
		content: '';
		width: 50px;
		height: 1px;
		background: #6D6F74;
	}

	h1{
		font-family: ToucheSemibold;
		font-weight: 700;
		font-size: 32px;
		line-height: 46px;
		letter-spacing: 0px;
		color: #01112A;
		max-width: 907px;
		display: inline-block;

		margin-top: 30px;
		margin-bottom: 36px;
	}
	p{
		font-weight: 500;
		font-size: 16px;
		line-height: 32px;
		letter-spacing: 0.21px;
		color: #6D6F74;
	}
}


.home_s3{
	background: #F5F9FC;
	padding-bottom: 120px;

	.w_box{
		text-align: center;
		vertical-align: top;
		margin-top: -230px;
		.box{
			max-width: 340px;
			display: inline-block;
			width: 100%;
			margin-left: -3px;
			margin-right: -3px;
			padding-top: 40px;
			vertical-align: top;
			.area{
				-webkit-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.1); 
				box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.1);
				background: #fff;
				min-height: 400px;
				.headerb{
					min-height: 190px;
					background: #F5F9FC;
					position: relative;

					.vcenter{
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						left: 0;
						right: 0;
						max-width: 319px;

						h1{
							font-family: ToucheSemibold;
							font-weight: 600;
							font-size: 17px;
							line-height: 28px;
							letter-spacing: 0.24px;
							color: #01112A;
						}
						p{
							font-weight: 500;
							font-size: 17px;
							line-height: 28px;
							letter-spacing: 0.24px;
							color: #113D97;
						}
					}
				}
				.bodyarea{
					min-height: 360px;
					max-height: 360px;
					background: #fff;
					overflow: hidden;
					padding: 40px;
					position: relative;
					border-bottom: #C0CFE9 1px solid;
					-webkit-transition: all .5s ease;
					   -moz-transition: all .5s ease;
					    -ms-transition: all .5s ease;
					     -o-transition: all .5s ease;
					        transition: all .5s ease;
					p{
						font-weight: 500;
						font-size: 15px;
						line-height: 25px;
						letter-spacing: 0.20px;
						color: #6D6F74;
					}
					.gbtm{
						width: 100%;
						height: 150px;
						position: absolute;
						bottom: 0;
						right: 0;
						left: 0;
						background: rgb(255,255,255);
						background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7091211484593838) 12%, rgba(255,255,255,1) 42%);
					}
					.procitajvise{
						position: absolute;
						left: 0;
						right: 0;
						bottom: 40px;

						font-weight: 700;
						font-size: 16px;
						line-height: 25px;
						letter-spacing: 1px;
						color: #113D97;

						img{
							margin-left: 5px;
							margin-top: -2px;
						}
					}
					a:hover{
						text-decoration: none;
					}
				}
				.pricearea{
					padding-top: 55px;
					padding-bottom: 40px;
					p{
						font-weight: 500;
						font-size: 15px;
						line-height: 25px;
						letter-spacing: 0.18px;
						color: #6D6F74;
						.mains{
							margin-left: 3px;
							margin-right: 3px;
						}
						span{
							font-family: ToucheLight;
							font-weight: 300;
							font-size: 97px;
							line-height: 51px;
							letter-spacing: 0.45px;
							color: #A90607;
							position: relative;
							.rs{
								font-size: 39px;
								position: absolute;
								top: 0;
								right: -58px;
							}
							.eur{
								font-size: 39px;
								position: absolute;
								top: 0;
								left: -33px;
							}
						}
					}

					.btns{
						margin-top: 30px;
						a{
							color: #01112A;
							margin: 0;
							border-color: #A90607;
						}
						a:hover{
							color: #fff;
							background: #A90607;
						}
					}
				}
			}
		}
		.box:nth-child(2){
			position: relative;
			z-index: 2;
			padding-top: 0;
			.area{
				.headerb{
					background: #113D97;
					.vcenter{
						h1{
							color: #fff;
						}
						p{
							color: #B8C0CC;
						}
					}
				}
				.bodyarea{
					min-height: 450px;
					max-height: 450px;
				}
			}
		}
		.box{
			.area{
				.textopened{
					max-height: 1500px !important;
					padding-bottom: 120px !important;
					.gbtm{
						background: #fff !important;
						height: 100px !important;
					}
					.procitajvise img{
						    transform: rotate(
						-180deg
						);
					}
				}
			}
		}
	}	
}


.home_s4:after{
	content: '';
	min-height: 345px;
	bottom: 0;
	position: absolute;
	left: 0;
	right: 0;
	background: url("../img/bgsteps.png") top;
	z-index: -1;
	@media(min-width: 1950px){
		background-size: 100%;
	}
}
.home_s4{
	text-align: center;
	padding-bottom: 220px;
	padding-top: 120px;
	position: relative;
	h2{
		position: relative;
		display: inline-block;

		font-weight: 700;
		font-size: 16px;
		line-height: 25px;
		letter-spacing: 1.96px;
		color: #A90607;

		padding-left: 70px;
		padding-right: 70px;
	}
	h2:before{
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		position: absolute;
		content: '';
		width: 50px;
		height: 1px;
		background: #A90607;
	}
	h2:after{
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		position: absolute;
		content: '';
		width: 50px;
		height: 1px;
		background: #A90607;
	}

	h1{
		font-family: ToucheSemibold;
		font-weight: 600;
		font-size: 32px;
		line-height: 46px;
		letter-spacing: 0px;
		color: #01112A;
		max-width: 907px;
		display: inline-block;

		margin-top: 30px;
		margin-bottom: 36px;
	}
	.steps:before{
		content: '';
		position: absolute;
		left: 33px;
		width: 4px;
		height: 100%;
		background: url("../img/bgborder.png");
	}
	.steps{
		padding-left: 110px;
		max-width: 900px;
		margin: auto;
		position: relative;
		margin-top: 70px;
		.box:last-child:before{
			content: '';
			width: 70px;
			height: calc(100% - 70px);
			background: #fff;
			position: absolute;
			left: -110px;
			top: 70px;
			z-index: 2;
		}

		.box{
			width: 100%;
			min-height: 160px;
			border-radius: 3px;
			background: #F5F9FC;
			text-align: left;
			padding: 20px 30px;
			position: relative;
			margin-bottom: 50px;
			p{
				font-family: ToucheSemibold;
				font-weight: 600;
				font-size: 17px;
				line-height: 25px;
				letter-spacing: 0.16px;
				color: #01112A;
			}
			h4{
				position: absolute;
				top: 0;
				left: -110px;
				color: #fff;
				font-family: ToucheLight;
				font-weight: 300;
				font-size: 32px;
				line-height: 60px;
				padding-top: 5px;
				padding-bottom: 5px;
				width: 70px;
				text-align: center;
				letter-spacing: 0.16px;
				border-radius: 3px;
				background: #113D97;
				text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
			}
		}
	}
}



.footer{
	background: #A90607;
	min-height: 387px;
	position: relative;
	.bgfooter{
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 0;
	}
	.container{
		max-width: 1700px;
	}
	padding-top: 80px;
	.logofooter{
	}
	ul{
		list-style-type: none;
		padding: 0;
		margin-top: 60px;
		position: relative;
		li{
			display: inline-block;
			margin-right: 30px;

			a{
				font-weight: 600;
				font-size: 18px;
				line-height: 26px;
				letter-spacing: 0.80px;
				color: #fff;
				text-transform: uppercase;
			}

			a:hover{
				text-decoration: none;
				text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
			}
		}
		li:nth-last-child(2){
			margin-right: 0;
			a{
				position: absolute;
				right: 185px;
				top: 0;
			}
		}
		li:last-child{
			margin-right: 0;
			a{
				position: absolute;
				right: 0;
				top: 0;
			}
		}
		li:last-child:before{
			content: '';
			width: 1px;
			height: 40px;
			background: #fff;
			opacity: 0.66;
			position: absolute;
			right: 162px;
			top: -5px;
		}
	}
	.lastrow{
		border-top: rgba(255, 255, 255, 0.66) 1px solid;
		margin-top: 90px;
		position: relative;
		p{
			text-align: center;
			color: #fff;
			font-family: ToucheLight;
			font-weight: 300;
			font-size: 15px;
			letter-spacing: 0.33px;
			line-height: 70px;
			padding-top: 5px;
		}
	}
}







	
.cijenapaket_s1{
	min-height: 650px;
	
	.placeforimg{
		max-width: 1360px;
		margin: auto;
		padding-left: 15px;
		padding-right: 15px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		.cijenapaketa_img1{
			max-width: 610px;
			position: absolute;
			bottom: 0px;
			right: 15px;
		}
	}
}



.cijenapaket_s2{
	min-height: 300px;
	background: #F5F9FC;
	.container{
		max-width: 1700px;
	}
	.wrapper{
		max-width: 1330px;
		margin: auto;
	}

	.nav-tabs{
		border: 0;
		margin-top: -80px;
	}

	.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
		background: transparent;
		border: 0;
		color: #01112A;
		background: #F5F9FC;
		line-height: 98px;
		margin-top: -18px;
	}
	.nav-tabs .nav-link{
		background: #FF2626;
		border: 0;
		width: 279px;
		line-height: 80px;
		border-top-right-radius: 3px;
		border-top-left-radius: 3px;
		padding: 0;

		font-weight: 700;
		font-size: 18px;
		letter-spacing: 1px;
		color: #FFFFFF;
		text-align: center;
		text-transform: uppercase;
		margin-right: 24px;
		vertical-align: bottom;
		display: inline-block;
	}
	.tab-content>.tab-pane{
		background: #fff;
		margin-top: 1px;
		padding: 60px 80px;
		margin-bottom: -60px;
		position: relative;
		z-index: 2;
		h2{
			font-family: ToucheBold;
			color: #01112A;
			font-size: 27px;
			line-height: 36px;
			max-width: 690px;
			margin-bottom: 30px;
		}
		p{
			font-size: 16px;
			font-weight: 500;
			line-height: 27px;
			letter-spacing: 0.21px;
			color: #6D6F74;
			max-width: 898px;
			margin-bottom: 50px;
		}
		.boxes{
			display: flex;
			.box{
				min-height: 240px;
				background: #F5F9FC;
				width: 100%;
				margin-right: 20px;
				h3{
					font-size: 15px;
					font-weight: 500;
					letter-spacing: 0.18px;
					line-height: 70px;
					color: #6D6F74;
					text-align: center;
					border-bottom: #C0CFE9 1px solid;

					span{
						font-family: ToucheLight;
						color: #A90607;
						font-size: 50px;
						font-weight: 300;
						letter-spacing: 0.45px;
						.sm{
							font-size: 31px;
							letter-spacing: -0.57px;
						}
					}
				}
				p{
					font-weight: 400;
					font-size: 14px;
					letter-spacing: 0.21px;
					line-height: 27px;
					padding: 30px 20px 30px 20px;
					text-align: center;
					color: #01112A;
					margin: 0;
					span{
						font-weight: 600;
					}
				}
			}
			.box:last-child{
				margin-right: 0;
			}
		}
	}
}


.cijenapaket_s3{
	min-height: 788px;
	background: transparent linear-gradient(90deg, #798892 0%, #E0E3E5 50%, #798892 100%) 0% 0% no-repeat padding-box;
	padding-top: 160px;
	padding-bottom: 100px;
	text-align: center;
	h2{
		position: relative;
		display: inline-block;

		font-weight: 700;
		font-size: 16px;
		line-height: 25px;
		letter-spacing: 1.96px;
		color: #6D6F74;

		padding-left: 70px;
		padding-right: 70px;
	}

	h2:before{
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		position: absolute;
		content: '';
		width: 50px;
		height: 1px;
		background: #6D6F74;
	}
	h2:after{
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		position: absolute;
		content: '';
		width: 50px;
		height: 1px;
		background: #6D6F74;
	}

	h1{
		font-family: ToucheSemibold;
		font-weight: 700;
		font-size: 32px;
		line-height: 46px;
		letter-spacing: 0px;
		color: #01112A;
		max-width: 907px;
		display: inline-block;

		margin-top: 30px;
		margin-bottom: 36px;
	}
	p{
		font-weight: 500;
		font-size: 16px;
		line-height: 32px;
		letter-spacing: 0.21px;
		color: #6D6F74;

		max-width: 920px;
		margin: auto;
		span{
			font-weight: 600;
			color: #01112A;
		}
	}
}



.ofiskalizaciji:after {
    content: '';
    min-height: 345px;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    background: url(../img/bgsteps2.png) top;
    z-index: 0;
}
.ofiskalizaciji{
	min-height: 300px;
	background: #F5F9FC;
	padding-bottom: 220px;
	position: relative;
	.container{
		max-width: 1700px;
	}
	.wrapper{
		max-width: 1330px;
		margin: auto;
	}
	.boxes{
		background: #FFFFFF;
		margin-top: -98px;
		padding-top: 61px;
		padding-bottom: 50px;
		position: relative;
		z-index: 1;

		.ofiskalizaciji_img{
			position: absolute;
			top: -420px;
			right: 0;
		}

		-webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.05); 
		box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.05);		
		h1{
			font-family: ToucheBold;
			color: #01112A;
			font-size: 27px;
			line-height: 36px;
			padding-left: 75px;
			padding-right: 75px;
		}
		.steps{
			padding-top: 120px;
			h1{
				text-align: center;
				max-width: 780px;
				margin: auto;
				padding: 0;
				margin-bottom: 100px;
			}
			.box_s:last-child{
				p:after{
					display: none;
				}
				p{
					text-align: center;
				}
			}
			.box_s{
				padding-left: 75px;
				padding-right: 75px;
				margin-bottom: 100px;
				position: relative;
				p:after{
					content: '';
					min-height: 100px;
					bottom: -100px;
					position: absolute;
					left: 0;
					right: 0;
					background: url("../img/bgb.png") top;
					z-index: 0;
					width: 2px;
					margin: auto;
				}
				p{
					position: relative;
					padding: 70px;
					background: #F5F9FC;
					border-radius: 3px;

					color: #01112A;
					font-size: 16px;
					font-weight: 400;
					letter-spacing: 0.21px;
					line-height: 27px;
					max-width: 981px;
					margin: auto;

					a{
						color: #113D97;
						text-decoration: none;
						font-weight: 600;
					}

					span{
						position: absolute;
						top: -43px;
						left: 0;
						right: 0;
						margin: auto;
						color: #fff;
						font-family: ToucheLight;
						font-weight: 300;
						font-size: 32px;
						line-height: 60px;
						padding-top: 5px;
						padding-bottom: 5px;
						width: 70px;
						text-align: center;
						letter-spacing: 0.16px;
						border-radius: 3px;
						background: #113D97;
						text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
					}
				}
			}
		}
		.box{
			padding-left: 130px;
			padding-right: 130px;
			padding-top: 53px;
			padding-bottom: 53px;
			border-bottom: 1px solid #C0CFE9;

			h2{
				font-weight: 700;
				font-size: 18px;
				letter-spacing: 0.66px;
				line-height: 27px;
				color: #01112A;
				padding-bottom: 20px;
				position: relative;
				max-width: 950px;
				span{
					position: absolute;
					left: -55px;
					color: #A90607;
					font-family: ToucheSemibold;
					font-size: 46px;
					line-height: 51px;
					top: 0;
				}
			}
			p{
				font-weight: 400;
				font-size: 16px;
				letter-spacing: 0.18px;
				line-height: 27px;
				color: #6D6F74;
				max-width: 885px;
				a{
					color: #113D97;
					text-decoration: none;
					font-weight: 600;
				}
				span{
					color: #01112A;
				}
			}
			.wwimg{
				
				padding-right: 360px;
				position: relative;
				p{
					max-width: 651px;
				}
				img{
					position: absolute;
					right: 0;
					top: 0;
					max-width: 360px;
				}
			}
		}
	}
}


.kontakt_s1{
	min-height: 650px;
	
	.placeforimg{
		max-width: 1360px;
		margin: auto;
		padding-left: 15px;
		padding-right: 15px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		.cijenapaketa_img1{
			max-width: 610px;
			position: absolute;
			bottom: -50px;
			right: 15px;
		}
	}
}


.kontakt_s2{
	padding-bottom: 100px;
	background: #F5F9FC;
	.container{
		max-width: 1700px;
	}
	.wrapper{
		max-width: 1330px;
		margin: auto;
	}
	.form{
		padding: 80px 50px;
		background: #fff;
		margin-top: -100px;
		max-width: 675px;

		input{
			border: 0;
			width: 100%;
			color: #01112A;
			font-size: 16px;
			font-weight: 600;
			line-height: 33px;
			letter-spacing: 0.32px;
			padding: 10px 20px;
			border-bottom: 1px solid #6D6F74;
			background: transparent;
			position: relative;
			z-index: 2;
		}
		input:focus{
			border-color: #FF2626;
		}

		textarea{
			border: 0;
			width: 100%;
			color: #01112A;
			font-size: 16px;
			font-weight: 600;
			line-height: 33px;
			letter-spacing: 0.32px;
			border-bottom: 1px solid #6D6F74;
			background: transparent;
			position: relative;
			z-index: 2;

			margin: 0;
			padding: 0;
			display: block;
			padding: 10px 20px;
			min-height: 100px;
			min-width: 100%;
		}
		textarea:focus{
			border-color: #FF2626;
		}

		.plfordiv{
			margin-bottom: 50px;
			position: relative;
			p{
				position: absolute;
				left: 20px;
				bottom: 10px;

				font-size: 16px;
				font-weight: 500;
				line-height: 33px;
				letter-spacing: 0.32px;
				color: #6D6F74;
				z-index: 0;
				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
				    -ms-transition: all .25s ease;
				     -o-transition: all .25s ease;
				        transition: all .25s ease;
			}
		}
		.activated{
			p{
				bottom: calc(100% - 15px);
				color: #113D97;
			}
		}
		button{
			display: block;
			margin: auto;

			font-weight: 700;
			font-size: 16px;
			line-height: 21px;
			letter-spacing: 1px;
			color: #fff;
			line-height: 54px;
			padding-left: 15px;
			padding-right: 15px;
			min-width: 227px;
			border: 1.5px solid #FF2626;
			text-align: center;
			border-radius: 3px;
			background: #FF2626;
			margin-top: 50px;

			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
		}
		button:hover{
			opacity: 0.7;
			text-decoration: none;
		}
	}
	.rightside{
		padding-left: 70px;
		padding-top: 70px;
		h2{
			font-family: ToucheSemibold;
			font-weight: 300;
			font-size: 24px;
			line-height: 32px;
			letter-spacing: 0.24px;
			color: #01112A;
		}
		.line{
			width: 50px;
			height: 3px;
			background: #B8C0CC;
			margin-top: 30px;
			margin-bottom: 30px;
		}
		p{
			font-weight: 400;
			font-size: 16px;
			line-height: 32px;
			letter-spacing: 0.32px;
			color: #6D6F74;
			margin-bottom: 50px;
		}
		ul{
			padding: 0;
			margin: 0;
			li{
				font-weight: 500;
				font-size: 18px;
				line-height: 27px;
				letter-spacing: 0.32px;
				color: #6D6F74;
				margin-bottom: 30px;
				list-style-type: none;
				span{
					color: #01112A;
					width: 105px;
					display: inline-block;
				}
			}
		}
	}
}







